.container {
    margin: 0 auto;
    width: 500px;
}

h2 {
    background-color: #f1f1f1;
    border-left: 4px solid red;
    padding: 5px 15px;
}

form {
    background-color: #fbfbfb;
    border: 3px solid #ebebeb;
    border-radius: 10px;
    padding: 15px;
}

input, textarea, select {
    color: #333;
    border: 2px solid #dfdfdf;
    padding: 5px;
}

div:not(.submit) {
    margin-bottom: 25px;
}

label {
    display: block;
}

.submit input {
    color: white;
    background-color: #999;
    border: 1px solid lightgray;
    border-bottom: 2px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
}
